/*
    Document   : layout
    Created on : Jul 31, 2012, 9:14:47 PM
    Author     : Greg Bueno
    Description:
        Control layout for desktop web browsers.
*/
#masthead {
  margin-bottom: 1.5em;
}
.nav-ul {
  margin-top: 1.5em;
  list-style-type: none;
}
#nav-main ul {
  margin-top: 1.5em;
  list-style-type: none;
}
#nav-main ul li {
  float: left;
  margin: 0 24px 0 0;
  padding: 0;
}
ul#nav-social {
  margin-top: 20px;
  padding-left: 0px;
  margin-left: 0px;
}
ul#nav-social li {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-left: 6px;
}
#footer {
  background-color: #C9C9C9;
  background-image: url('white_carbonfiber.png');
}
.inline-list {
  list-style-type: none;
}
.inline-list li {
  display: inline;
  margin: 0 12px 0 0;
  padding: 0;
}
.inline-list li:before {
  content: "» ";
}
.bg {
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  z-index: -1;
  opacity: 0.1;
  filter: alpha(opacity=10);
}
input[type=text],
input[type=email],
input[type=password],
select,
textarea {
  font-size: 100%;
  font-family: inherit;
  border: 1px solid #BBB;
  border-radius: 4px;
  padding: 3px;
}
table.track-table {
  border: 1px dotted #402c29;
  border-collapse: collapse;
}
table.track-table thead th {
  border: 1px dotted #999;
  font-size: 7pt;
  color: #FFF;
  background-color: #333;
}
table.track-table tbody tr:nth-child(2n) td {
  background-color: #cbcbcb;
}
table.track-table tbody td {
  border: 1px dotted #999;
}
table.track-table tbody td.track-column {
  width: 50px;
}
table.track-table tbody td.play-column {
  width: 20px;
}
ul.album-list {
  margin-left: 0px;
}
ul.album-list li {
  display: inline;
}
