/*
    Document   : layout
    Created on : Jul 31, 2012, 9:14:47 PM
    Author     : Greg Bueno
    Description:
        Control layout for desktop web browsers.
*/

#masthead {
	background-color: inherit;
	background-image: none;
}

.bg {
	position: fixed;
	top: 0;
	right: 0;
	width: 60%;
	z-index: -1;
	opacity: 0.1;
	filter: alpha(opacity=10);
}

