/*
    Document   : layout
    Created on : Jul 31, 2012, 9:14:47 PM
    Author     : Greg Bueno
    Description:
        Control layout for desktop web browsers.
*/

body {
  background-image: url('assets/graphics/subtle_dots.png');
}

#masthead {
  background-color: transparent;
  background-image: none;
  &.mobile-music-instrument {
    display: none;
  }
}

#title {
  margin-top: 10px;
}

.bg {
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  z-index: -1;
  opacity: 0.1;
  filter: alpha(opacity=10);
}

.mobile-music {

}

